@charset "utf-8";

/* =======================================

    Footer CSS

 -----------------------------------------
    INDEX
 -----------------------------------------
    1.Footer Navi(今回は予定なし)
    2.Copyright
========================================== */
#footer {
    padding: 30px 0px 30px 0;
}

/* 1.Footer Navi
==========================================

/* 2.Copyright
========================================== */
#footer address#copyright {
    font-size: 92.4%;
    line-height: 1.335;
    text-align: center;
}
