@charset "utf-8";

/* =======================================
    profile CSS
 -----------------------------------------
    INDEX
 -----------------------------------------
========================================== */

/* 見出しの設定(ナビボタン含み)
========================================== */
.profile .input_ads {
    background: #d56a00;
    color: white;
    text-align: center;
    font-size: xx-large;
    padding: 10px;
}

/* profile入力フォームのスタイルシート
========================================== */
.profile #profile_table {
    border-collapse: collapse;
    color: black;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.profile #profile_table th {
    width: 200px;
    text-align: right;
    vertical-align: top;
    border-top: 1px solid black;
    font-size: large;
    padding-right: 12px;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

.profile #profile_table td {
    width: 500px;
    vertical-align: middle;
    background-color: burlywood;
    border-bottom: 1px solid black;
    color: black;
    border-left: 4px solid gray;
    font-size: large;
}

.profile #profile_table .required {
    color: red;
    text-align: right;
}

.profile #profile_table .header th {
    font-size: x-large;
    text-align: center;
    background: coral;
}

.profile #button_submit {
    width: 100%;
}
